.vscode/
.vs/
.VSCodeCounter/
.idea/
venv/
__pycache__/
h5/*
*.pyc
media/*
dist/*
pkgs/*
!media/default/
celerybeat.pid
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
db.sqlite3
server/conf.py
server/conf.ini
server/conf*.json
sh/*
temp/*
nohup.out