@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 10px;
}

.el-table--medium td,   .el-table--medium th {
  padding: 2px 0;
}
.el-form-item {
  margin-bottom: 16px;
}
.el-card, .el-message {
  border-radius: 0px;
  overflow: hidden;
}
.el-card__body {
  padding: 6px;
}
.el-card__header {
  padding: 6px;
}
.el-tabs--border-card>.el-tabs__content {
  padding: 6px;
}
.el-dialog__header {
  padding: 10px 10px 6px;
}
// .el-dialog{
//   display: flex;
//   flex-direction: column;
//   margin:0 !important;
//   position:absolute;
//   top:50%;
//   left:50%;
//   transform:translate(-50%,-50%);
//   /*height:600px;*/
//   max-height:calc(100% - 30px);
//   max-width:calc(100% - 30px);
// }
.el-dialog .el-dialog__body{
  // flex:1;
  // overflow: auto;
  padding: 8px 12px;
}
 
.el-form--label-top .el-form-item__label {
  line-height: 16px;
}
.el-button+.el-button {
  margin-left: 1px;
}
.el-tabs__header {
  margin: 0 0 6px;
}
.pagination-container {
  padding: 0px 0px;
}
body .el-table th.gutter{
  display: table-cell!important;
}
.el-dialog__footer{
  padding: 6px 6px 6px;
}
